@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Black.woff') format('woff'),
        url('./assets/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Regular.woff') format('woff'),
        url('./assets/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Medium.woff') format('woff'),
        url('./assets/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto-Bold.woff') format('woff'),
        url('./assets/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-bg-color: #6E44FF;
    --text-color: #FFC2E2;
}

body {
    font-family: 'Roboto', Helvetica;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

p {
    font-family: 'Roboto', Helvetica;
    font-size: 28px;
}

input {
    margin: 10px;
}

.card:hover {
    filter: brightness(0.9)
}

#main {
    display: flex;
    justify-content: center;
}


/* figure out the drop shadow */
#current-weather {
    /* width: 25vw; */
    border: 2px solid white;
    /* filter: drop-shadow(89px 90px 1px rgba(0, 0, 0, 0.25)); */
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.section-label {
    align-self: center;
    color: white;
    transform: translateY(50px);
}


.current-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }

.current-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.current-location {
    margin: 0;
}

.current-time {
    margin: 0;
}

.current-small {
    font-weight: 400;
    margin: 4px;
}

.current-temps {
    display: flex;
}

.current-highlow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.current-temperature {
    font-weight: 900;
    font-size: 64px;
    margin: 0;
}

.current-conditions {
    font-weight: bold;
}

.weather-text {
    filter: none;
}

.location {
    color: red;
}

.main-right {
    /* width: 25vw; */
}

.hour-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 40px;
    margin: 20px; 
}

.hour-time {
    font-size: 16px;
    font-weight: lighter;
}


.day-container {
    border: 2px solid white;
    border-radius: 25px;
    margin: 10px;
    /* temporary? */
    width: 400px;
    display: flex;
}

.day-small {
    font-size: 16px;
    font-weight: lighter;
}

.day-icon {
    width: 100px;
    height: 100px;
}

.day-date {
    margin: 0; 
}

.day-temperature {
    margin: 0;
}

.day-description {
    margin: 0;
}

.day-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.day-highlow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.day-small {
    margin: 0;
}