body {
    font-family: Roboto, Helvetica;
}

p {
    font-family: Roboto, Helvetica;
    font-size: 28px;
}

input {
    margin: 10px;
}

#main {
    display: flex;
}

#current-weather {
    width: 50vw;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}

.location {
    color: red;
}

#forecast-card {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}